amqp==5.4.0
annotated-types==0.8.0
asgiref==3.12.1
billiard==4.3.0
celery==5.6.3
charset-normalizer==3.5.1
click==8.5.0
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.4.0
Django==6.1.1
django-redis==7.0.0
gunicorn==26.2.0
h11==0.16.0
iniconfig==2.3.0
jh2==5.0.15
kombu==5.6.2
niquests==3.21.2
packaging==26.3
platformdirs==4.11.12
pluggy==1.6.0
prompt_toolkit==3.0.53
psycopg==3.3.6
psycopg-binary==3.3.6
pydantic==2.13.5
pydantic_core==2.46.5
Pygments==2.21.0
pytailwindcss-extra==0.2.1
pytest==9.1.1
pytest-django==4.14.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.3
qh3==2.0.3
redis==8.1.0
six==1.17.0
sqlparse==0.6.0
tqdm==4.70.1
typing-inspection==0.4.4
typing_extensions==4.16.0
tzdata==2026.4
tzlocal==5.4.4
urllib3-future==2.25.900
vine==5.1.0
wassima==2.1.4
wcwidth==0.9.1
whitenoise==6.12.0
